/* Noto Serif Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Inter Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Shared Styles */

.body-container{
    max-width: 71.25rem;
    margin: 0 auto;
}

.primary-color{
    color: #E95A08;
}

.secondary-color{
    color: rgba(0, 0, 0, 50%);
}

/* Navbar Styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.875rem;
}

.nav-right{
    display: flex;
}

.nav-right ul{
    display: flex;
}

.nav-right ul li{
    list-style: none;
    margin-right: 3rem;
}

.nav-right ul li a{
    text-decoration: none;
}

.cart-container{
    display: flex;
    gap: 0.625rem;
}

.home{
    color: #252432;
    font-weight: 700;
}

.shop, .about-us{
    color: #8987A1;
}

.cart{
    color: #000000;
}

/* Banner Section Styles */
.banner-section{
    display: flex;
    align-items: center;
    margin: 7.5rem 0; 
}

.banner-section-left{
    width: 50%;
}

.banner-section-right{
    width: 50%;
}

.banner-section-title{
    font-size: 4.0625rem;
    font-weight: 700;
    margin-top: 3.8rem;
}

.banner-section-title .always{
    color: #000000;
}

.banner-section-description{
    font-size: 1.375rem;
    font-weight: 400;
    margin-top: 1rem;
}

.banner-section-right img{
    display: block;
    width: 100%;
}

/* Our Plants Section Styles */
.our-plants-section-title{
    text-align: center;
    font-size: 3.125rem;
    font-weight: 700;
}

.our-plants-section-description{
    font-size: 1.375rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem 7.875rem 3.0625rem;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.25rem;
    row-gap: 1.875rem;
}

.card{
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 25%);
}

.card-title{
    text-align: center;
    font-weight: 500;
    font-size: 1.375rem;
    color: #111111;
    margin: 1.875rem 0 1.25rem;
}

.card-price{
    text-align: center;
    font-weight: 700;
    font-size: 1.375rem;
    color: #111111;
    margin-bottom: 1.875rem;
}

.card img{
    width: 100%;
}

.card button{
    width: 100%;
    padding: 1.1875rem 5rem;
    color: #FFFFFF;
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* Plants Lover Section Styles */
.plants-lover-section{
    display: flex;
    align-items: center;
    gap: 3.75rem;
    margin-top: 13.133125rem;
    margin-bottom: 8.3675rem;
    position: relative;
}

.plants-lover-section-left{
    width: 50%;
}

.plants-lover-section-right{
    width: 50%;
}

.plants-lover-section-flower-store-image{
    display: block;
}

.trusted-badge-image{
    width: 17.875rem;
    height: 17.875rem;
    position: absolute;
    top: -8rem;
    left: 21.8rem;
    animation: spin 4s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.plants-lover-section-right h1{
    font-size: 3.125rem;
    font-weight: 700;
    color: #000000;
}

.plants-lover-section-right ul{
    margin-left: 2.3rem;
}

.plants-lover-section-right li{
    font-size: 1.375rem;
    font-weight: 400;
    margin: 1.25rem 0;
}

/* Latest Deals Section Styles */
.latest-deals-collage-images-container{
    display: flex;
    gap: 1.75rem;
}

.latest-deals-collage-images-left{
    flex: 1;
}

.latest-deals-collage-images-right{
    flex: 2;
    height: 100%;
}

.latest-deals-section-title{
    font-size: 3.125rem;
    text-align: center;
}

.latest-deals-section-description{
    font-size: 1.375rem;
    text-align: center;
    margin: 1rem 0 7.5rem 0;
}

.bloom-plant-container{
    background-image: url(../images/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.875rem;
    margin-bottom: 1.5625rem;
    height: 12.5625rem;
    position: relative;
}

.bloom-plant-container h2{
    color: #FFFFFF;
    margin-bottom: 1.1875rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.bloom-plant-container p a{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}

.ana-plant-container{
    background-image: url(../images/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.875rem;
    height: 12.5625rem;
    position: relative;
}

.ana-plant-container h2{
    color: #FFFFFF;
    margin-bottom: 1.1875rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.ana-plant-container p a{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}

.zabo-plant-container{
    background-image: url(../images/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.875rem;
    height: 26.5rem;
    position: relative;
}

.zabo-plant-container h2{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 700;
}

.zabo-plant-container p a{
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: 600;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 0.875rem;
}

.latest-deals-text-content{
    position: relative;
    z-index: 2;
}

/* Join Section Styles */
.join-section{
    background-image: url(../images/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 33.3125rem;
    margin-top: 7.5rem;
}

.join-section-content h1{
    font-size: 3.125rem;
    font-weight: 700;
    color: #FFFFFF;
}

.join-section-content input{
    width: 40.25rem;
    height: 3.125rem;
    padding-left: 1.25rem;
    color: rgba(0, 0, 0, 50%);
    font-size: 1rem;
    font-weight: 400;
}

.join-section-content button{
    width: 11.625rem;
    height: 3.125rem;
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.join-section-input-content{
    display: flex;
    margin-top: 1.4375rem;
}

/* Footer Section Styles */
footer{
    display: flex;
    justify-content: space-between;
    padding: 3.125rem 0;
}

footer > div{
    flex: 1;
}

.footer-description{
    font-size: 1.375rem;
    margin-top: 1rem;
}

.useful-links{
    display: grid;
    place-content: center;
    gap: 2rem;
}

.useful-links p a{
    text-decoration: none;
    color: rgba(107, 114, 128, 100%);
}

.social-media-links{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.twitter-logo{
    padding-top: 0.7rem;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
    /* Navbar Media Query */
    .nav-right ul li a{
        display: none;
    }
    
    nav{
        margin: 0.8125rem 1rem 0 1rem;
    }

    /* Banner Section Media Query */
    .banner-section{
        flex-direction: column-reverse;
    }

    .banner-section-left{
        width: 100%;
        padding: 1.75rem 1rem 0 1rem;
    }

     .banner-section-title{
        font-size: 1.5rem;
        padding-right: 10.625rem;
    }

    .banner-section-description{
        width: 100%;
        font-size: 0.875rem;
    }

   .banner-section-right{
       width: 100%;
   }

   /* Our Plants Section Media Query */
   .our-plants-section-description{
    margin: 1rem 1.78125rem 1.75rem;
   }

   .card-container{
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1rem;
   }

   .card button{
    padding: 1.1875rem 1.90625rem;
   }

   .display-none-card{
    display: none;
   }

   /* Plants Lover Section Media Query */
   .plants-lover-section{
    flex-direction: column;
    margin: 2.59375rem 1rem 0 1rem;
   }

   .plants-lover-section-left{
    width: 100%;
   }

   .plants-lover-section-right{
    width: 100%;
   }

   .plants-lover-section-flower-store-image{
    width: 100%;
   }

   .plants-lover-section-right h1{
    font-size: 1.5rem;
   }

   .break{
    display: none;
   }

   .plants-lover-section-right ul li{
    font-size: 0.875rem;
   }

   .plants-lover-section-right ul{
    margin-left: 1.2rem;
   }

   .trusted-badge-image{
    display: none;
   }

   /* Latest Deals Section Media Query */
   .latest-deals-collage-images-container{
    flex-direction: column;
    margin: 0 1rem 2.5rem;
   }

   .zabo-plant-container{
    height: 12.5625rem;
   }

   .zabo-plant-container h2{
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
    }

    .zabo-plant-container p a{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
   }

   .latest-deals-section{
    margin-top: 8.9375rem;
   }

   .latest-deals-section-description{
    padding: 0 1.78125rem;
   }

   /* Join Section Media Query */
   .join-section{
    height: 17.1875rem;
   }

   .join-section-content h1{
    font-size: 1.25rem;
   }

   .join-section-content input{
    width: 13.625rem;
   }

   .join-section-content button{
    width: 6.4375rem;
   }

   /* Footer Section Media Query */
   footer{
    flex-direction: column;
    padding: 3.125rem 1rem;
   }

   .useful-links{
    margin-top: 1.25rem;
    place-content: start;
   }

   .social-media-links{
    justify-content: flex-start;
     margin-top: 1.25rem;
   }

}


